html{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(#15dce3c0 , rgba(21, 186, 227, 0.785),rgba(6, 112, 139, 0.785) );
}
header{
    height: 100px;
}
main{
    /*padding-left: 80px;*/
    font-family: serif;
    font-size: larger;
}
table{
    margin-top: 40px;
    border:solid 1px;
    width: 400px;
    text-align: center;
}
 input{
    background-color: rgba(0, 0, 0, 0.281);
    margin-left: 60px;
 }