html{
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(16, 102, 102), rgba(10, 82, 216, 0.584));
    justify-content: space-around;
}
span{
    margin-top: 40px;
    font-family: cursive;
    font-size: 44px;
}
div{
    display: flex;
    justify-content: space-around;
}
.Type_operation{
    color: yellow;
}

.Boton_Inicio{
  display: flex;
  width: 100%;
  margin-top: 40px;
}
button{
    width: 200px;
    height: 30px;
    margin-left: 0px;
    border-radius: 18px;
    background-color:  rgba(0, 0, 0, 0.105);
    color: aliceblue;
    text-align: center;
    font-size: large;
    margin-top: 12px; 
}

a{
    text-decoration: none;
    color: aliceblue;
}