header{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    background-color: rgb(16, 102, 102);
    width: 100%;
    font-family: cursive;
    font-size: 28px;
}
main{
    display: flex;
    padding-top: 60px;
    justify-content: center;
    background: linear-gradient(rgb(16, 102, 102), rgba(10, 82, 216, 0.584));
    width: 100%;
    height: 600px;
    font-family: cursive;
    font-size: 22px;
}
.fieldset{
    border: solid 1px;
    border-radius: 18px;
    padding-top: 30px;
}
.NameUserrr{
    display: block;
}
.Select_1{
    display: block;
}
.Number1{
    display: block;

}
.Number2{
    display: block;
}
select{
    width: 200px;
    height: 30px;
    margin-left: 80px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.119);
    color: aliceblue;
}
input{
    width: 200px;
    height: 30px;
    margin-left: 80px;
    border-radius: 18px;
    background-color:  rgba(0, 0, 0, 0.119);
    color: aliceblue;
    text-align: center;
    font-size: large;
    margin-top: 12px;

}
label{
    padding-left: 80px;
}
.NameLection{
padding-left: 105px;
}
.Election{
    padding-left: 24px;

}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 190px;
    background: linear-gradient(rgba(10, 82, 216, 0.584), rgb(16, 102, 102));
}
button{
    width: 200px;
    height: 30px;
    margin-left: 80px;
    border-radius: 18px;
    background-color:  rgba(0, 0, 0, 0.105);
    color: aliceblue;
    text-align: center;
    font-size: large;
    margin-top: 12px;
}
    
span{
    font-family: cursive;
    font-size: 42px;
}
.Button_Submit{
    display: block;
    margin-top: 20px;

}
a{
    color: aliceblue;
    text-decoration: none;
}

